.card-mini {
  background-color: rgba(22, 160, 133, 1.0);
  padding: 10px 5px;
  border-radius: 5px;
  position: relative;
  min-width: 472px;
  -webkit-box-shadow: 0px 0px 37px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 37px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 37px -2px rgba(0, 0, 0, 0.75);
  transition: .3s;
  margin-bottom: 20px;
}

.card-mini:hover {
  transform: scale(1.03);
}

.card-mini-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card-mini-header-logo {
  width: 100px;
  display: inline-block;
  text-align: center;
}

.card-mini-header-logo img {
  width: 100px;
}

.card-mini-header-logo img:hover {
  cursor: pointer;
}

.card-mini-header-title {
  width: calc(100% - 100px);
  margin-left: 10px;
}

.card-mini-header-title span {
  font-size: 12px;
  padding: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  opacity: .6;
  transition: .3s;
}

.card-mini-header-title span:hover {
  cursor: pointer;
  opacity: 1;
  text-decoration: underline;
}

.card-mini-header-title div {
  display: flex;
  justify-content: space-between;
}

.card-mini-header-title div h1 {
  font-size: 14px;
  padding: 1px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  transition: .3s;
}

.card-mini-header-title div h1:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card-mini-header-title .subject h1 {
  font-size: 15px;
}

.card-mini-header-title .theme h1 {
  opacity: .6;
  font-size: 16px;
}

.card-mini-header-title .author h1 {
  opacity: .6;
  font-size: 12px;
}

.card-mini-header-title h1:hover {
  opacity: 1;
}

.card-mini-header-arrow {
  width: 50px;
  text-align: center;
}

.card-mini-header-arrow div i {
  color: white;
  font-size: 18px;
  transition: .3s;
}

.card-mini-header-arrow div i:hover {
  transform: scale(1.7);
  cursor: pointer;
}
