@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

*{
  margin: 0;
  padding: 0;
}

.back-gr{
  width: 100%;
  background-color: rgba(44, 62, 80,1.0);
  padding: 50px 0;
  height: 1000px;
}

.card-expand-holder{
  width: 50%;
  margin: 0 auto;
}
