@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.card-expanded{
  background-color: rgba(22, 160, 133,1.0);
  padding: 10px 5px;
  border-radius: 5px;
  position: relative;
  min-width: 472px;
  -webkit-box-shadow: 0px 0px 37px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 37px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 37px -2px rgba(0,0,0,0.75);
margin-bottom: 20px;
}

.card-expanded-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card-expanded-header-logo{
  width: 100px;
  display: inline-block;
  text-align: center;
}
.card-expanded-header-logo img{
  width: 100px;
}
.card-expanded-header-logo img:hover{
  cursor: pointer;
}
.card-expanded-header-title{
  width: calc(100% - 100px);
  margin-left: 10px;
}

.card-expanded-header-title span{
  font-size: 12px;
  padding: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  opacity: .6;
  transition: .3s;
}
.card-expanded-header-title span:hover{
  cursor: pointer;
  opacity: 1;
  text-decoration: underline;
}
.card-expanded-header-title div{
  display: flex;
  justify-content: space-between;
}
.card-expanded-header-title div h1{
  font-size: 14px;
  padding: 1px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  transition: .3s;
}


.card-expanded-header-title .subject h1{
  font-size: 16px;
}

.card-expanded-header-title .theme h1{
  opacity: .6;
  font-size: 18px;
}

.card-expanded-header-title .author h1{
  opacity: .6;
  font-size: 12px;
}
.card-expanded-header-title h1:hover{
  opacity: 1;
  cursor: pointer;
  text-decoration: underline;
}
.card-expanded-header-arrow{
  width: 50px;
  text-align: center;
}
.card-expanded-header-arrow div i{
  color: white;
  font-size: 18px;
  transition: .3s;
}
.card-expanded-header-arrow div i:hover{
  transform: rotate(360deg);
  cursor: pointer;
}
.card-expanded-content{
  width: 100%;
  position: relative;
  padding-bottom: 15px;
}
.card-expanded-content .line{
  height: 1px;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 66%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 33%,rgba(0,0,0,1) 66%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 33%,rgba(0,0,0,1) 66%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
  margin: 5px 0 10px 0;
}
.card-expanded-content-text{
  padding: 10px;
  text-align: center;
}
.card-expanded-content-text p{
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 10px;
  font-size: 14px;
}

.bottom-delimiter{
  height: 1px;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 66%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 33%,rgba(0,0,0,1) 66%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 33%,rgba(0,0,0,1) 66%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
  position: absolute;
  bottom: 60px;
  margin-top: 10px;
}
.card-expanded-content .card-expanded-content-image{
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.card-expanded-content .card-expanded-content-image img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 10px 0 5px 0;
  border-radius: 3px;
}
.card-expanded-content .card-expanded-content-photoby h1{
  text-align: center;
  font-size: 12px;
  opacity: .6;
  color: black;
  transition: .3s;
  font-family: 'Open Sans', sans-serif;
}
.card-expanded-content .card-expanded-content-photoby h1:hover{
  opacity: 1;
  cursor: pointer;
}
.card-expanded-bottom{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.card-expanded-bottom div{
  padding: 5px;
}
.card-expanded-bottom div span{
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
.card-expanded-bottom div i{
  font-size: 13px;
  transition: .3s;
}
.card-expanded-bottom div i:hover{
  cursor: pointer;
}

.card-expanded-bottom .card-expanded-bottom-like i:hover {
  color: #e74c3c;
}
.card-expanded-bottom .card-expanded-bottom-comment i:hover{
  color: #ecf0f1;
}
.card-expanded-bottom .card-expanded-bottom-share i:hover{
  color: #ecf0f1;
}
.card-expanded-bottom .card-expanded-bottom-repost i:hover{
  color: #ecf0f1;
}
