@import url('https://fonts.googleapis.com/css?family=Raleway');

.login-wrap-bg{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  position: relative;
  /* background-image: url('../img/left.jpg');
  background-size: cover;
  background-position: center; */
}

.login-wrap-bg:hover .bg-pic{
  opacity: 0.5;
}

.login-wrap-bg:hover .bg-pic{
  filter: blur(13px);
}

.login-wrap-bg:hover .login-wrap{
  transform: scale(1);
  z-index: 11;
}
.login-wrap-bg:hover .login-text{
  opacity: 0;
}

.bg-pic{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: .3s;
  background-image: url('../img/left.jpg');
  background-size: cover;
  background-position: center;
}
.login-text{
  position: absolute;
  z-index: 11;
  transition: .2s;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.login-text h1{
  font-size: 40px;
  color: white;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Raleway', sans-serif;

}

.blur-layer{
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  background-image: url('../img/left.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(13px);
  transform: scale(1.1);
  transition: .3s;

}

/* .login-wrap-bg:hover{
  filter: blur(5px);
  background-color: transparent;
  opacity: 0.6;
  transform: scale(1.5);
} */

.login-wrap{
  width: 60%;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  opacity: 1;
  transition: .2s;
  position: absolute;
  z-index: 9;
  transform: scale(0.7);
  box-sizing: border-box;
}
.login-wrap h1{
  text-align: center;
  font-size: 18px;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: #545454;
}

.login-wrap form{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 255px;
  padding: 0 50px;
  position: relative;
}
.login-wrap form input{
  margin: 5px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid yellow;
  transition: .3s;
  font-family: 'Roboto', sans-serif;

}
.login-wrap form input:focus{
  outline: none;
  padding-left: 10px;
}

.login-wrap form button{
  border: none;
  padding: 10px 10px;
  margin-top: 40px;
  background-color: #FFC107;
  color: white;
  transition: .3s;
  border-radius: 3px;
}
.login-wrap form button:hover{
  cursor: pointer;
  background-color: #FF9800;
  -webkit-box-shadow: 0px 0px 56px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 56px -12px rgba(0,0,0,0.75);
box-shadow: 0px 0px 56px -12px rgba(0,0,0,0.75);
}
/* .login-wrap-bg:hover .login-wrap{
  opacity: 1;
} */
