@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  padding: 0;
  margin: 0;
}

.login-reg-fullpage-header{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 68px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 68px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 68px 1px rgba(0,0,0,0.75);
  background-color: white;
  transition: .3s;
}
.login-reg-fullpage-header:hover{
  height: 200px;
}
.login-reg-fullpage-header h1{
  font-size: 60px;
  line-height: 100px;
  text-align: center;
  transition: .3s;
  font-family: 'Indie Flower', cursive;
}
.login-reg-fullpage-header:hover h1{
  opacity: 0.2;
  font-size: 80px;
  line-height: 200px;
}

.login-reg-holder{
  width: 100%;
  position: absolute;
  z-index: 2;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: row;
  -webkit-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.75);
}

.login-left{
  width: 50%;
  background-color: rgba(0, 150, 136,1.0);
  overflow: hidden;
  position: relative;
  /* background-image: url('../img/left.jpg');
  background-size: cover;
  background-position: center; */
}

.reg-right{
  width: 50%;
  background-color: rgba(103, 58, 183,1.0);
  overflow: hidden;
  position: relative;
}

.login-reg-fullpage-footer{
  height: 20px;
  background-color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;

}
.login-reg-fullpage-footer h1{
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  opacity: .5;
  transition: .3s;
  font-family: 'Roboto', sans-serif;
}
/* .login-reg-fullpage-footer h1 span{
  opacity: .5;
} */
.login-reg-fullpage-footer span:hover{
  opacity: 1;
  cursor: pointer;
}
