@import url('https://fonts.googleapis.com/css?family=Raleway');

.reg-wrap-bg{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  position: relative;
  /* background-image: url('../img/left.jpg');
  background-size: cover;
  background-position: center; */
}

.reg-wrap-bg:hover .reg-bg-pic{
  opacity: 0.5;
}

.reg-wrap-bg:hover .reg-bg-pic{
  filter: blur(13px);
}

.reg-wrap-bg:hover .reg-wrap{
  transform: scale(1);
  z-index: 11;
}
.reg-wrap-bg:hover .reg-text{
  opacity: 0;
}

.reg-bg-pic{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: .3s;
  background-image: url('../img/right.jpg');
  background-size: cover;
  background-position: center;
}
.reg-text{
  position: absolute;
  z-index: 11;
  transition: .2s;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.reg-text h1{
  font-size: 40px;
  color: white;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Raleway', sans-serif;

}

.reg-blur-layer{
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  background-image: url('../img/right.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(13px);
  transform: scale(1.1);
  transition: .3s;

}

/* .login-wrap-bg:hover{
  filter: blur(5px);
  background-color: transparent;
  opacity: 0.6;
  transform: scale(1.5);
} */

.reg-wrap{
  width: 70%;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  opacity: 1;
  transition: .2s;
  position: absolute;
  z-index: 9;
  transform: scale(0.7);
}


/* .login-wrap-bg:hover .login-wrap{
  opacity: 1;
} */
